.nav-home a { 
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    color: white;
    font-family:'Ubuntu';
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(27, 50, 126, 0.15);;
    background-image: url('../css/images/menu-items/story-w.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #339999;
}

.nav-home a:hover {
    color: black;
    background: url('../css/images/menu-items/story-b.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #FFF;
} 

    /* button should stay active */
.nav-home:target {
    background-color: white;
}

.nav-characters a { 
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    color: white;
    font-family:'Ubuntu';
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(27, 50, 126, 0.15);;
    background-image: url('../css/images/menu-items/characters-w.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #339999;
}

.nav-characters a:hover {
    color: black;
    background: url('../css/images/menu-items/characters-b.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #FFF;
} 

.nav-locations a { 
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    color: white;
    font-family:'Ubuntu';
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(27, 50, 126, 0.15);;
    background-image: url('../css/images/menu-items/locations-w.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #339999;
}
    
.nav-locations a:hover {
    color: black;
    background: url('../css/images/menu-items/locations-b.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #FFF;
} 

.nav-ideas a { 
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    color: white;
    font-family:'Ubuntu';
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(27, 50, 126, 0.15);;
    background-image: url('../css/images/menu-items/ideas-w.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #339999;
}
        
.nav-ideas a:hover {
    color: black;
    background: url('../css/images/menu-items/ideas-b.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #FFF;
} 

.nav-research a { 
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    color: white;
    font-family:'Ubuntu';
    font-size: 14px;
    text-decoration: none;
    width: 75px;
    height: 75px;
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(27, 50, 126, 0.15);;
    background-image: url('../css/images/menu-items/research-w.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #339999;
}
            
.nav-research a:hover {
    color: black;
    background: url('../css/images/menu-items/research-b.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: 35px;
    background-color: #FFF;
} 

#nav-button {
    position: relative;
    top: 50px;
}